# App artifacts
/_build
/db
/deps
/*.ez

# Generated on crash by the VM
erl_crash.dump

# The config/prod.secret.exs file by default contains sensitive
# data and you should not commit it into version control.
#
# Alternatively, you may comment the line below and commit the
# secrets file as long as you replace its contents by environment
# variables.
/config/prod.secret.exs

# Based on how we decide to deploy this will have to be changed but for now it
# is probably smart to ignore the css/js builds.
/priv/static/css/application.css
/priv/static/js/application.js

# Editor configs (feel free to PR yours)
.vscode