language: elixir
elixir:
    - 1.3.2
addons:
    postgresql: '9.4'
before_script:
    - nvm install 6.3.1
    - psql -c 'create database rosa_test;' -U postgres
    - cp config/travis.exs config/test.exs
    - npm install
    - phantomjs -w --webdriver-loglevel=ERROR &
script:
    - mix test
    - npm test
    - npm run lint
