<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Rosa CMS Admin Dashboard">
    <title>Rosa - Dashboard</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/application.css") %>">
</head>
<body>
   <%= render @view_module, @view_template, assigns %> 
   <script src="<%= static_path(@conn, "/js/application.js") %>"></script>
</body>
</html>