{
  "extends": "airbnb",
  "globals": {
    "describe": true,
    "context": true,
    "it": true,
    "afterEach": true
  },
  "rules": {
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}]
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  }
}